<div class="middle-box text-center loginscreen animated fadeInDown delay-10s">
    <div class="container" style="width: 100%;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        <img class="img-responsive img-shadow" src="./assets/img/logoNexos.png"
                            width="220px" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Bienvenido a Nexos</h3>
                        <p class="card-text">Sistema Informacion de Gestion Nexos.</p>
                        <form class="container" role="form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm"
                            novalidate style="width: 100%;">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="parametrosLogin.email"
                                    name="userName" placeholder="Correo electronico" #userNameV="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && userNameV.invalid }" required="" />
                                <div *ngIf="f.submitted && userNameV.invalid" class="invalid-feedback">
                                    <div *ngIf="userNameV.errors">Nombre usuario es requerido</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="parametrosLogin.password"
                                    name="password" placeholder="Clave Usuario" #passwordV="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && passwordV.invalid }" required=""
                                    autocomplete="off" />
                                <div *ngIf="f.submitted && passwordV.invalid" class="invalid-feedback">
                                    <div *ngIf="passwordV.errors">Clave usuario es requerida</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b"
                                style="border-color: #AAA;">Ingresar</button>
                            <br>
                            <a [routerLink]="['/recover']"><small>Olvidaste Clave?</small></a>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="m-t">Nexos &copy; {{number}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>