<div class="w-full h-fit flex gap-4 flex-col md:flex-row pt-4 md:pl-24">
    <div class="flex-1 md:max-w-64 flex flex-col gap-4">
        <div class="w-full h-fit flex items-center gap-2 rounded-2xl p-4 border-2 border-neutral-100 bg-white">
            <button class="b-primary p-1 b-fit">
                <svg class="w-6 h-6 fill-neutral-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
                </svg>
            </button>
            <div class="flex flex-col">
                <span class="font-bold text-xs text-neutral-500">Reuniones</span>
                <span class="font-bold text-lg text-neutral-900">{{resident?.name ?? 'Cliente'}} </span>
            </div>
        </div>
        <nx-progress-bar [items]="items" (emitSelect)="selectSection($event)"></nx-progress-bar>
    </div>
    <div class="flex-1 flex flex-col bg-white rounded-2xl border-2 border-neutral-100 p-4 md:p-4 gap-2">
        @if (!selectedSection) {
        <div class="w-full flex gap-2 items-center">
            <nx-search-resident class="flex-1" [selectedResident]="resident"
                (emitResident)="setResident($event)"></nx-search-resident>
            @if(resident && viewButtons){
            <button type="button" (click)="settingsRegister('create')" class="b-tertiary p-2 b-fit">
                <svg class="fill-brand-orange-500 w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                </svg>
            </button>
            <button type="button" (click)="settingsRegister('clone')"
                class="b-secondary px-4 py-2 b-fit hidden">Clonar</button>
            <button type="button" (click)="settingsRegister('edit')" class="b-primary px-4 py-2 b-fit">Editar</button>
            }
        </div>
        }
        @if(statusProcess!=='pending' && selectedSection===0){
        <div class="flex items-center text-xs text-brand-orange-400 rounded-lg px-2" role="alert">
            <svg class="flex-shrink-0 fill-brand-orange-500 inline w-4 h-4 me-2" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div class="flex gap-1">
                <span class="font-black">Importante:</span>
                @switch (statusProcess) {
                @case ('create') {
                <span>Se encuentra realizando un proceso de creando</span>
                }
                @case ('edit') {
                <span>Se encuentra realizando un proceso de edición</span>
                }
                @case ('clone') {
                <span>Se encuentra realizando un proceso de clonación</span>
                }
                }
            </div>
        </div>
        }
        @switch (selectedSection) {
        @case (0) {<register-form-config (onNext)="NextOrAfter(true, 0)" (onCustomize)="setCustomize($event)"
            [statusCustomize]="statusCustomize" [disabled]="disabled"></register-form-config>}
        @case (1) {<register-form-customize (onNext)="NextOrAfter(true, 1)"
            (onAfter)="NextOrAfter(false, 1)"></register-form-customize>}
        @case (2) {<register-form-design [statusProcess]="statusProcess" (onNext)="NextOrAfter(true, 2, $event)"
            (onAfter)="NextOrAfter(false, 2)"></register-form-design>}
        }
    </div>
    <!--  -->
    <!-- <nx-toggle-switch [values]="values"></nx-toggle-switch> -->
    <!-- <nx-color-field></nx-color-field> -->
    <!-- <nx-dropdown-field [items]="options"></nx-dropdown-field> -->
    <!-- <nx-search-resident [selectedResident]="resident" (emitResident)="resident=$event"></nx-search-resident> -->
    <!-- <label for="textarea" class="container-field">
            <span>Label</span>
            <textarea id="textarea" class="peer" cols="30"></textarea>
            <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
            </div>
        </label>
        <label for="field" class="container-field">
            <span>Label</span>
            <input id="field" type="text" class="peer">
            <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
            </div>
        </label> -->
</div>