<div class="container" style="width: 100%;">
  <div class="row">
    <div class="col-12">
      <label for="questionName" class="form-label">Escriba la pregunta</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="questionName_edit" [(ngModel)]="nameVote_edit"
          aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="APROBACION ESTADOS FINANCIEROS"
          style="border: 1px solid #444;">
        <span class="input-group-text spanLimitCharacter" id="basic-addon2">{{nameVote_edit.length}} de 190</span>
      </div>
      <small class="form-text text-muted">**Recuerde no poner caracteres especiales y maximo 190 caracteres**</small>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="container-fluid without-padding">
        <div class="row">
          <div class="col-10" style="width: 100%; padding: 0; margin: 0;">
            <input class="form-control form-control-sm" type="text" id="option_name_edit"
              placeholder="Escriba la opcion de respuesta" style="border: 1px solid #444;"
              [(ngModel)]="nameOption_edit">
          </div>
          <div class="col-2" style="width: 100%; padding: 4px; margin: 0;">
            <img src="./assets/img/plus.png" alt="" width="30px" style="cursor: pointer;"
              (click)="addOptionVote_edit()">
          </div>
          <div class="row">
            <div class="col-12 without-padding">
              <div class="scroll-options" id="scroll-1">
                <ul class="list-group">
                  <li class="list-group-item padding-list"
                    style="background-color: #444; color: #FFF; text-align: center; cursor: auto;">
                    <div class="container">
                      <div class="row">
                        <div class="col-10" style="text-align: left;">
                          Respuestas
                        </div>
                        <div class="col-2" style="vertical-align: center;">
                          <img src="./assets/img/delete.png" alt=""
                            style="height: 20px; vertical-align: center; cursor: pointer;" (click)="resetAnswers()">
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item padding-list" *ngFor="let item_edit of options_edit; index as i">
                    <img src="./assets/img/delete.png" alt=""
                      style="height: 20px; vertical-align: center; cursor: pointer; display: inline;"
                      (click)="deleteOption(i)">
                    <input class="form-control form-control-sm" style="display: inline; width: 85%;" type="text"
                      [(ngModel)]="item_edit['name']" placeholder=".form-control-sm"
                      aria-label=".form-control-sm example">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="container-fluid without-padding">
        <div class="row">
          <div class="row align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Cantidad de votos a recibir</label>
            </div>
            <div class="col-auto">
              <input type="number" id="request_accepted_edit" style="border: 1px solid #444;"
                [(ngModel)]="request_accepted_edit" name="request_accepted_edit">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="container-fluid card-chart mt-2">
              <div class="row">
                <div class="col-12">
                  <h5 class="without-margin">Modo de gráfico</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-check" style="margin-top: 10px;">
                    <input class="form-check-input" type="checkbox" value="" [(ngModel)]="pendientes_edit"
                      id="flexCheckDefault_edit">
                    <label class="form-check-label" for="flexCheckDefault_edit" style="cursor: pointer;">
                      Incluir pendientes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check" style="margin-top: 10px;">
                    <input class="form-check-input" type="checkbox" value="" [(ngModel)]="ausentes_edit"
                      id="flexCheckDefault2_edit">
                    <label class="form-check-label" for="flexCheckDefault2_edit" style="cursor: pointer;">
                      Incluir ausentes
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <select class="custom-select" id="inputGroupSelect04_edit" [(ngModel)]="unit_chart_edit"
                    style="border: 1px solid #444;">
                    <option value="0">Seleccione unidad a graficar</option>
                    <option value="1">Coeficiente</option>
                    <option value="2">Unidades</option>
                    <option value="3">Aportes</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-primary btn-vote mt-4" data-bs-toggle="modal"
              data-bs-target="#profiles_edit">
              Seleccione perfiles votantes <span
                class="badge notification-profiles">{{ProfilesToSend_edit.length}}</span>
            </button>
            <div class="modal fade" id="profiles_edit" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body without-padding">
                    <ul class="list-group modal-profiles">
                      <li class="list-group-item active bg-orange" aria-current="true">
                        <div class="container-fluid without-padding">
                          <div class="row">
                            <div class="col-11">
                              Perfiles votantes
                            </div>
                            <div class="col-1">
                              <i class="fa fa-close icon-close" data-bs-dismiss="modal" aria-label="Close"></i>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item without-padding-2">
                        <div class="container-fluid without-padding">
                          <div class="row">
                            <div class="col-6">
                              <div class="form-check">
                                <input class="form-check-input check-profile" type="checkbox"
                                  [(ngModel)]="selectAllProfiles_edit" id="selectAllProfiles_edit"
                                  (change)="selectedProfilesToQuestion_edit()">
                                <label class="form-check-label li-profile" for="selectAllProfiles_edit">
                                  Seleccionar todos
                                </label>
                              </div>
                            </div>
                            <div class="col-6">
                              <button type="button" class="button-gray-orange" data-bs-dismiss="modal">Guardar</button>
                            </div>
                          </div>
                        </div>
                        <hr style="margin: 5px 0">
                      </li>
                      <li class="list-group-item without-padding-2"
                        *ngFor="let item of allProfilesVotation_edit; index as i">
                        <div class="form-check">
                          <input class="form-check-input check-profile" type="checkbox"
                            [(ngModel)]="allProfilesVotation_edit[i]['selected']" id="check_edit{{item['id']}}"
                            (change)="changeProfileById_edit(item['id'], allProfilesVotation_edit[i]['selected'])">
                          <label class="form-check-label li-profile" for="check_edit{{item['id']}}"
                            style="width: 100%;">
                            {{item['name']}}
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <button type="button" class="button-gray-orange" (click)="editVote_edit()">
        Editar pregunta
      </button>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4">
      <button type="button" class="button-gray-dark" (click)="goBack()">
        Volver sin guardar
      </button>
    </div>
  </div>
</div>