<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="goHome()">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goQuote()">Cotizacion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goCreateQuote()">Crear cotizacion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" style="background-color: rgba(255, 115, 0); color: #FFF; cursor: auto;">Lista
      items</a>
  </li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-12" style="background-color: rgb(255, 115, 0); text-align: center;">
      <strong>
        <h4 style="color: #FFF;">Listado de items</h4>
      </strong>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let item of listItems; index as i">
      <div class="input-group" *ngIf="item['contable']=='1'">
        <div class="input-group-prepend" style="width: 70%;">
          <div class="input-group-text" style="width: 100%;">{{item.name}}</div>
        </div>
        <input type="number" min="0" class="form-control" style="width: 20%;"
          placeholder="Cantidad" [(ngModel)]="listadoItemsCant[i]">
      </div>
      <div class="custom-control custom-checkbox" *ngIf="item['contable']=='0'">
        <input type="checkbox" class="custom-control-input" id="{{i}}"
          [(ngModel)]="listadoItemsCant[i]" style="cursor: pointer;">
        <label class="custom-control-label" for="{{i}}" style="cursor: pointer;">{{item.name}}</label>
      </div>
    </div>
  </div>
  <br>
  <div class="row" style="text-align: center;">
    <div class="col-12">
      <button class="btn btn-primary" type="button" (click)="saveItems()"
        style="background-color: #ff7300; color: #FFF; width: 250px;">
        Agregar Items Seleccionados
      </button>
    </div>
  </div>
</div>