<!-- <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="goHome()">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goMenuSettingVoting()">Configuracion Icloud</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goSearchPointContrpl()">Buscar punto de control</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goPointContrpl(residential_id)">Punto de control</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" style="background-color: rgba(255, 115, 0); color: #FFF; cursor: auto;"> Editar Documentos</a>
  </li>
</ul> -->
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 mx-auto">
      <div class="card card-signin my-4">
        <div class="card-body">
          <form class="form" role="form" name="form" (ngSubmit)="f.form.valid && loadFiles(f)" #f="ngForm" novalidate>
            <div class="row">
              <div class="col-12" style="text-align: center; padding: 0; margin: 0;">
                <h5>DOCUMENTOS DE {{residential_name}}</h5>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 1</label>
                <input type="text" placeholder="Convocatoria" [(ngModel)]="loadDatabase.document1" name="document1"
                  class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file1 type="file" id="file1" name="image" (change)="fileProgress1($event)">
                  <label for="file1" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl1" style="object-fit: cover;" *ngIf="previewUrl1"
                      class="img-content null-img">
                  </label>
                </div>
              </div>
              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 2</label>
                <input type="text" placeholder="Informe Administrador" name="document2"
                  [(ngModel)]="loadDatabase.document2" class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file2 type="file" id="file2" name="image" (change)="fileProgress2($event)">
                  <label for="file2" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl2" style="object-fit: cover;" *ngIf="previewUrl2"
                      class="img-content null-img">
                  </label>
                </div>
              </div>
              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 3</label>
                <input type="text" placeholder="Informe Revisor Fiscal" name="document3"
                  [(ngModel)]="loadDatabase.document3" class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file3 type="file" id="file3" name="image" (change)="fileProgress3($event)">
                  <label for="file3" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl3" style="object-fit: cover;" *ngIf="previewUrl3"
                      class="img-content null-img">
                  </label>
                </div>
              </div>
              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 4</label>
                <input type="text" placeholder="Informe Convivencia" name="document4"
                  [(ngModel)]="loadDatabase.document4" class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file4 type="file" id="file4" name="image" (change)="fileProgress4($event)">
                  <label for="file4" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl4" style="object-fit: cover;" *ngIf="previewUrl4"
                      class="img-content null-img">
                  </label>
                </div>
              </div>
              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 5</label>
                <input type="text" placeholder="Informe" name="document5" [(ngModel)]="loadDatabase.document5"
                  class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file5 type="file" id="file5" name="image" (change)="fileProgress5($event)">
                  <label for="file5" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl5" style="object-fit: cover;" *ngIf="previewUrl5"
                      class="img-content null-img">
                  </label>
                </div>
              </div>
              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 6</label>
                <input type="text" placeholder="Informe" name="document6" [(ngModel)]="loadDatabase.document6"
                  class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file6 type="file" id="file6" name="image" (change)="fileProgress6($event)">
                  <label for="file6" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl6" style="object-fit: cover;" *ngIf="previewUrl6"
                      class="img-content null-img">
                  </label>
                </div>
              </div>

              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 7</label>
                <input type="text" placeholder="Informe" name="document7" [(ngModel)]="loadDatabase.document7"
                  class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file7 type="file" id="file7" name="image" (change)="fileProgress7($event)">
                  <label for="file7" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl7" style="object-fit: cover;" *ngIf="previewUrl7"
                      class="img-content null-img">
                  </label>
                </div>
              </div>
              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 8</label>
                <input type="text" placeholder="Informe" name="document8" [(ngModel)]="loadDatabase.document8"
                  class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file8 type="file" id="file8" name="image" (change)="fileProgress8($event)">
                  <label for="file8" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl8" style="object-fit: cover;" *ngIf="previewUrl8"
                      class="img-content null-img">
                  </label>
                </div>
              </div>
              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 9</label>
                <input type="text" placeholder="Informe" name="document9" [(ngModel)]="loadDatabase.document9"
                  class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file9 type="file" id="file9" name="image" (change)="fileProgress9($event)">
                  <label for="file9" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl9" style="object-fit: cover;" *ngIf="previewUrl9"
                      class="img-content null-img">
                  </label>
                </div>
              </div>
              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 10</label>
                <input type="text" placeholder="Informe" name="document10" [(ngModel)]="loadDatabase.document10"
                  class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file10 type="file" id="file10" name="image" (change)="fileProgress10($event)">
                  <label for="file10" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl10" style="object-fit: cover;" *ngIf="previewUrl10"
                      class="img-content null-img">
                  </label>
                </div>
              </div>
              <div class="col-12 col-md-4" style="text-align: center;">
                <label for="formGroupExampleInput">Nombre documento 11</label>
                <input type="text" placeholder="Informe" name="document11" [(ngModel)]="loadDatabase.document11"
                  class="form-control form-control-sm"><br>
                <div class="avatar d-flex justify-content-center m-b-30">
                  <input #file11 type="file" id="file11" name="image" (change)="fileProgress11($event)">
                  <label for="file11" class="img-content null-img"
                    style="background: url(./assets/img/cargado.png);background-size: cover;background-position: center;background-repeat: no-repeat;cursor: pointer;">
                    <img [src]="previewUrl11" style="object-fit: cover;" *ngIf="previewUrl11"
                      class="img-content null-img">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-3"></div>
              <div class="col-12 col-md-6">
                <button style="text-align: right" class="form-control form-control-sm" type="submit"
                  style="background-color: rgba(255, 115, 0);border-color: #000; color: #FFF; cursor: auto; width: 100%; cursor: pointer;">
                  <span class="bold">Guardar</span>
                </button>
              </div>
              <div class="col-12 col-md-3"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <br>
      <ul class="list-group">
        <li class="list-group-item" style="background-color: #444; color: #FFF; text-align: center; cursor: auto;">
          <div class="container">
            <div class="row">
              <div class="col-12" style="text-align: left;">
                Listado documentos
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let item of listDocument; index as i2">
          <i class="fa fa-trash" (click)="deleteDocument(item['id'], item['name'])"
            style="font-size: 20px; color: #E56E22;"></i>
          <strong> &nbsp;{{i2 + 1}}.</strong> {{item['name']}}
          <i class="fa fa-download" (click)="downloadDocument(item['id'], item['name'])"
            style="font-size: 20px; color: #E56E22;"></i>
        </li>
      </ul>
    </div>
  </div>
</div>