.datepicker {
    cursor: pointer;
    height: 80%;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 3px;
    margin: 5px;
    appearance: none;
    filter: invert(1);
    width: 100%;
}

.list {
    cursor: pointer;
    border: 1px solid #262626;
}