<div class="container mt-5">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 encabezado">
      BUSQUEDA DE TAREAS POR USUARIO
    </div>
    <div class="col-2">
      <button class="button dark" (click)="goToWorks()">Volver</button>
    </div>
  </div>
  <div class="row mt-3 align-items-end">
    <div class="col-4">
      <div class="mb-1">
        <label for="userSearch" class="form-label">Seleccione el usuario que busca</label>
        <!-- <select class="form-select" aria-label="Default select example" id="userSearch" [(ngModel)]="indexOfUser">
          <option value="">...</option>
          <ng-container *ngFor="let item of listUsers; index as index">
            <option [value]="index" *ngIf="item.status_id == '1'">{{item.name}}</option>
          </ng-container>
        </select> -->
        <div class="input-group">
          <!-- <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
          <input list="brow" class="form-control" [(ngModel)]="nameOfUser" id="input-search-by-name">
          <datalist id="brow">
            <ng-container *ngFor="let item of listUsers; index as index">
              <option [value]="item.name" *ngIf="item.status_id == '1'"></option>
            </ng-container>
          </datalist>
          <span class="input-group-text button-reset" id="basic-addon2" (click)="resetSearch()">X</span>
        </div>
        
      </div>
    </div>
    <div class="col-3">
      <label for="dateFrom" class="form-label">fecha desde</label>
      <input type="date" class="form-control" id="dateFrom" [(ngModel)]="dateFrom">
    </div>
    <div class="col-3">
      <label for="dateTo" class="form-label">Fecha hasta</label>
      <input type="date" class="form-control" id="dateTo" [(ngModel)]="dateTo">
    </div>
    <div class="col-2">
      <button class="button orange" id="serachUserButton" (click)="selectedUser()">Buscar</button>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-10">
      <div class="col mt-2 mb-2 nombre_trabajador">
        {{nameUser}}
      </div>
    </div>
    <div class="col-2">
      <img src="./assets/img/excel_i.png" alt="icono excel" class="downloadReport" *ngIf="listTaksByUser.length > 0"
        (click)="downloadReport()">
      <img src="./assets/img/excel_i.png" alt="icono excel" class="downloadReport" *ngIf="listTaksByUser.length > 0"
        (click)="downloadReportAllUsers()">
    </div>
  </div>
  <div class="row">
    <div class="col tabla">
      <table class="table table-striped tabla_actividades">
        <thead>
          <tr>
            <th><span class="text-th">Nombre</span></th>
            <th><span class="text-th">Inicio</span></th>
            <th><span class="text-th">Final</span></th>
            <th><span class="text-th">Duración</span></th>
            <th><span class="text-th">Editar</span></th>
            <th><span class="text-th">Cerrar</span></th>
          </tr>
          <tr *ngFor="let item of showListTaksByUser">
            <td>
              <input type="text" class="form-control" [(ngModel)]="item.description">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="item.start_task">
            </td>
            <td *ngIf="item.end_task == null; else durationTd">Activa <img src="./assets/img/point.png"
                alt="Punto verde" class="pointActiveTask"></td>
            <ng-template #durationTd>
              <td>
                <input type="text" class="form-control" [(ngModel)]="item.end_task">
                <!-- {{item.end_task}} -->
              </td>
            </ng-template>
            <td>
              <input type="text" class="form-control" [(ngModel)]="item.duration">
            </td>
            <td>
              <img src="assets/img/edit.png" class="boton_editar" (click)="editTask(item.id, item.description, item.start_task, item.end_task, item.duration, item.status_task)">
            </td>
            <td>
              <i *ngIf="item.end_task == null" class="fa fa-close boton_borrar" (click)="editTask(item.id, item.description, item.start_task, item.end_task, item.duration, 0)"></i>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>