<div class="middle-box text-center loginscreen animated fadeInDown">
    <div class="container" style="width: 100%;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <div class="card text-center">
                    <div class="card-header" style="padding-top: 0; margin-top: 0;">
                        <div class="container">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8" style="text-align: center;">
                                    <img src="./assets/img/logoNexos.png" width="100%" alt="">
                                </div>
                                <div class="col-2">
                                    <button style="border-radius: 100%;
                                        color: #FFF; text-align: center; height: 30px;
                                        width: 30px; margin: 10px;
                                        font-family: 'Monoton', cursive; background-color: rgb(255, 115, 0);"
                                        (click)="irInicio()">X</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Bienvenido a Nexos</h3>
                        <p class="card-text">Sistema Informacion de Gestion Nexos.</p>
                        <form class="container" role="form" name="form" (ngSubmit)="f.form.valid && recuperar_clave()"
                            #f="ngForm" novalidate style="width: 100%;">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="parametros.email" name="userName"
                                    placeholder="Correo electronico" #userNameV="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && userNameV.invalid }" required="" />
                                <div *ngIf="f.submitted && userNameV.invalid" class="invalid-feedback">
                                    <div *ngIf="userNameV.errors">Nombre usuario es requerido</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b">Enviar</button>
                            <br>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="m-t">Nexos &copy; 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>