.encabezado{
    text-align: center;
    font-size: 1.4rem;
}

.nombre_trabajador{
    font-size: 1.2rem;
}

.inicio{
    width: 100%;
    border-radius: 5px;
}

.final{
    width: 100%;
    border-radius: 5px;
}

.orange {
    border: none;
    background-color: #e56e22;
    border-radius: 3px;
    color: #FFF;
    width: 250px;
    padding: auto;
    font-size: 1.1rem;
    height: 38px;
}

.inputs {
    border: 1px solid #000;
}