

  .email_div {
    min-width: 300px;
    padding: 0;
}

.icon {
    font-size: 1.5rem;
    color: #e56e22;
    text-shadow: 2px 0 0 #000;
    cursor: pointer;
}

.without-margin {
    margin: 0;
}

.button-orange {
    cursor: pointer;
    width: 99%;
    border-radius: 22px;
    padding: 5px 0px;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
    border: 2px solid #e56e22;
    background-color: #FFF;
    font-size: 14px;
    font-weight: 500;
    color: #e56e22;
    letter-spacing: 2.5px;
}

.button-orange:hover {
    background-color: #e56e22;
    color: #FFF;
    box-shadow: 0px 0px 8px 2px rgba(233, 111, 35, 0.63);
}

.button-gray-dark {
    cursor: pointer;
    width: 99%;
    border-radius: 22px;
    padding: 5px 0px;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
    border: 2px solid #444444;
    background-color: #FFF;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    letter-spacing: 2.5px;
}

.button-gray-dark:hover {
    background-color: #444444;
    color: #FFF;
    box-shadow: 0px 0px 8px 2px rgba(68, 68, 68, 0.63);
}

.container-support .row div[class^='col'] {
    padding: 0 3px;
}

.padding-td-units {
    padding: 2px;
    cursor: pointer;
}

.scroll-search-unit{
    height: 300px;
    overflow-y: scroll;
}

.user-location {
    text-align: center;
}

.global {
	height: 300px;
	width: 90%;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
  }