<!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
<div class="sidebar-overlay-slide from-top" [class.show]="drawer">
  <ng-template [ngTemplateOutlet]="sideBarOverlay"></ng-template>
</div>
<!-- END SIDEBAR MENU TOP TRAY CONTENT-->
<!-- BEGIN SIDEBAR MENU HEADER-->
<div class="sidebar-header">
  <label>Gestor Nexos </label>
  <!--<button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" 
          [class.active]="_menuDrawerOpen" (click)="toggleMenuDrawer()"><i class="fa fa-angle-down fs-16"></i>
          </button>-->
  <ng-template [ngTemplateOutlet]="sideBarHeader"> </ng-template>
</div>
<!-- END SIDEBAR MENU HEADER-->
<!-- START SIDEBAR MENU -->
<div class="sidebar-menu">
  <ng-template [ngTemplateOutlet]="menuItems"></ng-template>
  <ul class="menu-items">
    <li class="m-t-30 " (click)="goHome()">
      <a class="nav-link" class="detailed">
        <span class="title">Inicio</span>
        <span class="details">Pagina inicial</span>
      </a>
      <span class="bg-nexos icon-thumbnail"><i class="fa fa-home"></i></span>
    </li>
    <!-- <li class="m-t-30 " (click)="goMenuSetting()" *ngIf="userStorage['profile']=='Super Usuario'">
      <a class="nav-link" class="detailed">
        <span class="title">Configuración</span>
        <span class="details">Crear/editar </span>
      </a>
      <span class="bg-nexos icon-thumbnail"><i class="fa fa-user"></i></span>
    </li> -->
    <!-- <li class="m-t-30 " (click)="goQuote()"
      *ngIf="userStorage['profile']=='Super Usuario' || userStorage['profile']=='Supervisor' || userStorage['profile']=='Asesor'">
      <a class="nav-link" class="detailed">
        <span class="title">Cotizacion</span>
        <span class="details">Crear/editar cotizaciones</span>
      </a>
      <span class="bg-nexos icon-thumbnail"><i class="fa fa-file"></i></span>
    </li> -->
    <!-- <li class="m-t-30 " (click)="goTracing()"
      *ngIf="userStorage['profile']=='Super Usuario' || userStorage['profile']=='Supervisor' || userStorage['profile']=='Asesor'">
      <a class="nav-link" class="detailed">
        <span class="title">Seguimiento</span>
        <span class="details">Confirmar contrato</span>
      </a>
      <span class="bg-nexos icon-thumbnail"><i class="fa fa-briefcase"></i></span>
    </li> -->
    <li class="m-t-30" (click)="goSupportTechinical()"
      *ngIf="userStorage['profile']=='Super Usuario'||userStorage['profile']=='Supervisor'||userStorage['profile']=='Moderador'||userStorage['profile']=='Soporte telefonico'">
      <a class="nav-link" class="detailed">
        <span class="title">Soporte Tecnico</span>
      </a>
      <span class="bg-nexos icon-thumbnail"><i class="fa fa-cogs"></i></span>
    </li>
    <li class="m-t-30" (click)="goVotationSetting()"
      *ngIf="userStorage['profile']=='Super Usuario'||userStorage['profile']=='Supervisor'||userStorage['profile']=='Moderador'">
      <a class="nav-link" class="detailed">
        <span class="title">Asambleas</span>
        <span class="details">Gestor de Asambleas</span>
      </a>
      <span class="bg-nexos icon-thumbnail"><i class="fa fa-cogs"></i></span>
    </li>
    <li class="m-t-30" (click)="'deleteSwal.show()'">
      <a class="nav-link" class="detailed">
        <span class="title">Salir</span>
      </a>
      <span class="bg-nexos icon-thumbnail"><i class="fa fa-power-off"></i></span>
    </li>
  </ul>
  <swal #deleteSwal title="Esta seguro que desea cerrar sesión?" type="question" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="singOut()">
  </swal>
  <!-- BEGIN SIDEBAR MENU ITEMS-->
  <div class="clearfix"></div>
  <!-- END SIDEBAR MENU -->