<form [formGroup]="form" class="w-full h-fit grid grid-cols-2 gap-4" (ngSubmit)="saveForm()">
    <div class="row-span-3 flex flex-col gap-2">
        <nx-file-field class="h-full" formControlName="file"></nx-file-field>
    </div>
    <label for="event-name" class="container-field">
        <span>Nombre</span>
        <input id="event-name" formControlName="name" type="text" class="peer">
        <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
        </div>
    </label>
    <label for="event-date" class="container-field">
        <span>Fecha</span>
        <input id="event-date" formControlName="meeting_time" type="datetime-local" class="peer">
        <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
        </div>
    </label>
    <div class="flex flex-col gap-2">
        <nx-dropdown-field [items]="typesEvent" formControlName="event_type_id"
            label="Tipo de evento"></nx-dropdown-field>
    </div>
    <div class="flex gap-2 items-center flex-1 col-span-2">
        <nx-toggle-switch [values]="values" formControlName="login_with_credentials"></nx-toggle-switch>
        <span class="font-bold text-neutral-400">Credenciales al iniciar sesión</span>
    </div>
    <div class="flex flex-col gap-2">
        <nx-dropdown-field [items]="templateEmail" formControlName="email_template_id"
            label="Plantilla de Email"></nx-dropdown-field>
    </div>
    <div class="flex flex-col gap-2">
        <nx-dropdown-field [items]="templateWhatsApp" formControlName="whatsapp_id"
            label="Plantilla de WhatsApp"></nx-dropdown-field>
    </div>

    <div class="mt-4 flex gap-2 col-span-2">
        <div class="flex gap-2 items-center flex-1">
            <nx-toggle-switch [values]="values" (onValue)="setCustomize($event)"
                [formControl]="controlCustomize"></nx-toggle-switch>
            <span class="font-bold text-neutral-400">Personalizar</span>
        </div>
        <button [disabled]="form.disabled" type="submit" class="b-primary px-4 py-2 b-fit">
            {{statusCustomize()? 'Siguiente': 'Guardar'}}
        </button>
    </div>
</form>