<form [formGroup]="form" class="px-8">
    <div class="flex items-end justify-between w-full gap-4 p-4 max-w-4xl">
        <div class="i-field flex-1">
            <label for="">Cliente</label>
            <input disabled type="text" name="" id="">
        </div>
        <button disabled class="b-tertiary h-fit p-2 fill-brand-orange-500">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                    d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z" />
            </svg>
        </button>
        <button disabled class="b-primary h-fit px-4 py-2">Editar</button>
    </div>
    <div class="max-w-3xl w-full border-neutral-100 border-t-2"></div>
    <div class="w-full grid grid-cols-2 max-w-4xl px-4 py-2 gap-4">
        <div class="i-field flex-1">
            <label>Nombre</label>
            <input type="text">
        </div>
        <div class="i-field flex-1 grid grid-cols-2 gap-4">

            <div class="i-field flex-1">
                <label>Fecha</label>
                <input disabled type="date">
            </div>
            <div class="i-field flex-1">
                <label>A distancia</label>
                <input disabled type="text">
            </div>
        </div>
        <div class="i-field flex-1">
            <label>Url de la plataforma</label>
            <input disabled type="text">
        </div>
        <div class="i-field flex-1">
            <label>Hora y fecha de inicio de la reunión</label>
            <input disabled type="text">
        </div>
        <div class="i-field flex-1">
            <label>Hora de inicio del registro de la reunión</label>
            <input formControlName="meeting_time" type="text">
        </div>
        <div class="i-field flex-1">
            <label>Teléfono</label>
            <input disabled type="text">
        </div>
        <div class="i-field flex-1">
            <label>Tipo de correo de envío</label>
            <input formControlName="email_template_id" type="text">
        </div>
        <div class="col-span-2 flex gap-4 justify-end">
            <button (click)="next.emit()" class="b-primary h-fit px-4 py-2">Siguiente</button>
        </div>
    </div>
</form>