<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="goHome()">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goMenuSettingVoting()">Configuracion Icloud</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goSearchPointContrpl()">Buscar punto de control</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" style="background-color: rgba(255, 115, 0); color: #FFF; cursor: auto;">Punto de
      control</a>
  </li>
</ul>
<div class="container animated slideInUp">
  <div class="row">
    <div class="col-12" style="text-align: center; padding: 0; margin: 0;">
      <h5>{{residential}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-5">
          <label for="formGroupExampleInput"> Url de transmision</label>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="youtube_share"
            style="border: 1px solid #000;" placeholder="https://www.youtube.com/embed/FfcLrMUlzrU" name="urlYoutube"
            autocomplete="off">
        </div>
        <div class="col-12 col-md-4">
          <label for="formGroupExampleInput">Nombre reunion jitsi (sin espacios)</label>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="zoom_link"
            style="border: 1px solid #000;" placeholder="AsambleaNoPresencialNexosGeConjuntoPrueba" name="urlYoutube"
            autocomplete="off">
        </div>
        <div class="col-11 col-md-2">
          <label for="formGroupExampleInput">Clave Jitsi</label>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="password_meeting"
            style="border: 1px solid #000;" placeholder="1234..." name="urlYoutube" autocomplete="off">
        </div>
        <div class="col-1">
          <img src="./assets/img/video.png" alt="video-icon" class="video-icon" title="transmision"
            (click)="goTransmision()">
        </div>
        <div class="col-12 col-md-12">
          <br>
          <button class="btn btn-primary block full-width m-b" (click)="editMeeting()" class="button-orange">Guardar Url
            de transmision y reunion Jitsi</button>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="row">
        <div class="col-6">
          <label for="formGroupExampleInput">Opciones de control de asamblea</label>
        </div>
        <div class="col-6" style="text-align: center;">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="withRegister">
            <label class="form-check-label" for="flexSwitchCheckDefault">Inf preregistro con nombre y cédula</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="width: 100%;">
            <div class="btn-group" role="group" style="width: 100%;">
              <button style="background-color: #444; color: #FFF; width: 100%;" id="btnGroupDrop1" type="button"
                class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Durante asamblea
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="width: 100%;">
                <a class="dropdown-item button" (click)="gointerventioncontrol(residential_id)">Control
                  intervenciones</a>
                <a class="dropdown-item button" (click)="goLoadFiles()">Cargar documentos</a>
                <a class="dropdown-item button" (click)="goPresent()">Usuarios Ausentes</a>
                <a class="dropdown-item button" (click)="goUserInRoom()">Usuarios en sala</a>
                <a class="dropdown-item button" (click)="goQRCode()">Codigo QR</a>
                <a class="dropdown-item button" (click)="goRegisterWhatsapp()">Votacion whatsapp</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="width: 100%;">
            <div class="btn-group" role="group" style="width: 100%;">
              <button style="background-color: #444; color: #FFF; width: 100%;" id="btnGroupDrop1" type="button"
                class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Pre-post asamblea
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="width: 100%;">
                <a class="dropdown-item button" (click)="extractAssistantRepport()">Extraer Informe asistentes</a>
                <a class="dropdown-item button" (click)="goChat()">Extraer chat</a>
                <a class="dropdown-item button" (click)="extractPreregister()">Extraer informe preregistro</a>
                <a class="dropdown-item button" (click)="startPreregister()">iniciar preregistro</a>
                <a class="dropdown-item button" (click)="endPreregister()">Finalizar preregistro</a>
                <a class="dropdown-item button" (click)="Visado()">Informe visado</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <label for="formGroupExampleInput">Opciones de inicio y finalizacion de la asamblea</label>
      <div class="row">
        <div class="col-12 col-md-4">
          <button class="btn btn-primary block full-width m-b" (click)="status1()"
            style="background-color: #ff7300;border-color: #000; color: #FFF; cursor: auto; cursor: pointer; margin: 0; font-size: 0.7rem;">
            Iniciar Asamblea
          </button>
        </div>
        <div class="col-12 col-md-4">
          <button class="btn btn-primary block full-width m-b" (click)="status2()"
            style="background-color: rgba(255, 115, 0);border-color: #000; color: #FFF; cursor: auto;  cursor: pointer; margin: 0; font-size: 0.7rem;">
            Cerrar Asamblea
          </button>
        </div>
        <div class="col-12 col-md-4">
          <button class="btn btn-primary block full-width m-b" (click)="status3()"
            style="background-color: #262626;border-color: #000; color: #FFF; cursor: auto;  cursor: pointer; margin: 0; font-size: 0.7rem;">
            Cerrar registro
          </button>
        </div>
      </div>
    </div>
  </div>
</div>